﻿@model qa8.Models.Idea

@{
    ViewData["Title"] = "Anonymous idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 id="expressideah4" style="text-align:center" >Express your idea as anonymous</h4>
<hr />
<div id="ideasubmit">

    <div class="row text-center ">
        <div class="col-md-4 mx-auto">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span style="color:red">*</span>
                    <label asp-for="idea_Title" class="control-label">Title</label>
                    <textarea asp-for="idea_Title" class="form-control"></textarea>
                    <span asp-validation-for="idea_Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span style="color:red">*</span>
                    <label asp-for="idea_Content" class="control-label">Content</label>
                    <textarea rows="10" asp-for="idea_Content" class="form-control"></textarea>
                    <span asp-validation-for="idea_Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Send your idea" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $('#expressideah4').addClass('text-success animated bounceInUp slow');
    </script>
}




