﻿@model qa8.Models.Idea

@{
    ViewData["Title"] = "Anonymous idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idea_Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idea_Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idea_Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idea_Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_Created)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input  type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-success" asp-action="Index">Back to List</a>
    </form>
</div>
