﻿@model qa8.Models.Idea

@{
    ViewData["Title"] = "Anonymous idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @*<h4>Content</h4>*@
    <hr />
    @*<div class="row">
            <div class="col-2">
                <label>@Html.DisplayNameFor(model => model.idea_Title)</label>
            </div>
            <div class="col-8">
                <p >@Html.DisplayFor(model => model.idea_Title)</p>
            </div>
        </div>*@
    @*<div>
        <div style="text-align:center">
            <label>@Html.DisplayNameFor(model => model.idea_Content)</label>
        </div>
        <div style="text-align:center">
            <p></p>
        </div>
    </div>*@

    <div>
        
            <div  class="card shadow-lg p-3 mb-5 bg-white rounded mt-auto mx-auto"  style="width:50rem">
                
                <div class="card-body" style="text-align:center">
                    <h4 class="card-title">@Html.DisplayFor(model => model.idea_Title)</h4>
                    <p class="card-text">@Html.DisplayFor(model => model.idea_Content)</p>
                </div>
            </div>
     
    </div>

</div>
<div style="text-align:right">
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.id">Delete</a> |
    <a class="btn btn-success" asp-action="Index">Back to anonymous idea list</a>
</div>
