﻿@model qa8.Models.Idea

@{
    ViewData["Title"] = "Anonymous idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Idea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="idea_Title" class="control-label"></label>
                <input asp-for="idea_Title" class="form-control" />
                <span asp-validation-for="idea_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idea_Content" class="control-label"></label>
                <input asp-for="idea_Content" class="form-control" />
                <span asp-validation-for="idea_Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_Created" class="control-label"></label>
                <input asp-for="date_Created" class="form-control" />
                <span asp-validation-for="date_Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ip_Created" class="control-label"></label>
                <input asp-for="ip_Created" class="form-control" />
                <span asp-validation-for="ip_Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

