﻿@model PaginatedList<qa8.Models.Idea>

@{
    ViewData["Title"] = "Anonymous idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Anonymous idea</h2>

<form asp-action="Index" method="get">


    <div class="row">
        @*<span class="mt-1">Search by date : </span>*@
        <div class="col-3">
            <input type="text" class="form-control " id="datetimepickeridea" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search by date" />
        </div>
        <div>
            <button type="submit" value="Search" class="fa fa-search btn btn-lg btn-outline-primary "></button>
        </div>
        @*<div>
            <button class="btn btn-outline-primary ml-1" asp-action="Index">Clear search</button>
        </div>*@
        <div>
            <button class="btn btn-outline-primary ml-1" >Export excel</button>
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Message inbox</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date recieved</a>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p style="word-wrap: break-word;">@Html.DisplayFor(modelItem => item.idea_Title)</p>

                </td>
                @*<td>
                        <p style="word-wrap: break-word;">@Html.DisplayFor(modelItem => item.idea_Content)</p>
                    </td>*@
                <td>
                    <p style="word-wrap: break-word;overflow:hidden">@Html.DisplayFor(modelItem => item.date_Created)</p>
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |*@
                    <a class="btn btn-dark animated bounceInRight slow " asp-action="Details" asp-route-id="@item.id">Read</a> @*|
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="fa fa-arrow-left btn btn-success  @prevDisabled">

</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="fa fa-arrow-right btn btn-success @nextDisabled">

</a>


@section Scripts {



    <script type="text/javascript">

        $(document).ready(function () {

            $(function () {
                $('#datetimepickeridea').keypress(function (event) {
                    if (event.keyCode === 10 || event.keyCode === 13) {
                        event.preventDefault();
                    }
                });

                $('#datetimepickeridea').datepicker({
                    uiLibrary: 'bootstrap4',
                    calendarWeeks: true,
                    disableDaysOfWeek: [0],
                    keyboardNavigation: true,
                    showOtherMonths: true
                });
                //$('#datetimepickeridea').datetimepicker({


                //    icons: {
                //        //time: "fa fa-clock",
                //        date: "fa calendar-alt",
                //        up: "fa fa-arrow-up",
                //        down: "fa fa-arrow-down"

                //    },
                //    daysOfWeekDisabled: [0],
                //    //sideBySide: true,

                //});


            });



        });

    </script>

}
