﻿
@{
    ViewData["Title"] = "Anonymous idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success" style="text-align:center">Sending succesfully ! Thank you for your idea</h2>
<div style="text-align:center">
    <a class="btn btn-success " asp-controller="Home" asp-action="Index">Back to homepage</a>
</div>

