﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Q&A System</title>

    <environment include="Development">
        @*<link href="~/lib/bootstrap-4.1.2-dist/css/bootstrap.min.css" rel="stylesheet" />*@
        <link href="~/lib/MDB-Free_4.5.9/css/bootstrap.min.css" rel="stylesheet" />
        @*<link href="~/lib/MDB-Free_4.5.9/css/mdb.min.css" rel="stylesheet" />*@
        <link href="~/lib/fontawesome-free-5.1.1-web/css/fontawesome.min.css" rel="stylesheet" />
        <link href="~/lib/fontawesome-free-5.1.1-web/css/solid.min.css" rel="stylesheet" />
        @*<link href="~/lib/tempusdominus/tempusdominus.min.css" rel="stylesheet" />*@
        <link href="~/lib/gijgo-combined-1.9.10/css/gijgo.min.css" rel="stylesheet" />
        @*<link href="~/css/sweet-alert.css" rel="stylesheet" />*@
        <link href="~/css/pretty-checkbox.css" rel="stylesheet" />
        <link href="~/css/animateCSS.css" rel="stylesheet" />
        <link href="~/lib/intro.js-2.9.0/introjs.css" rel="stylesheet" />
        <link href="~/lib/intro.js-2.9.0/themes/introjs-modern.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="shortcut icon" href="~/images/favicon.ico" />
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link href="~/lib/MDB-Free_4.5.9/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/fontawesome-free-5.1.1-web/css/fontawesome.min.css" rel="stylesheet" />
        <link href="~/lib/fontawesome-free-5.1.1-web/css/solid.min.css" rel="stylesheet" />
        <link href="~/lib/gijgo-combined-1.9.10/css/gijgo.min.css" rel="stylesheet" />
        <link href="~/css/pretty-checkbox.css" rel="stylesheet" />
        <link href="~/css/animateCSS.css" rel="stylesheet" />
        <link href="~/lib/intro.js-2.9.0/introjs.css" rel="stylesheet" />
        <link href="~/lib/intro.js-2.9.0/themes/introjs-modern.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/css/site.css" />

        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#b5edfc">
        <div class="container">
            <a id="help" class="navbar-brand " href="#" style="font-size:150%;font:600">Q&A System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mr-1">
                        @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item mr-1">
                        @*<a id="testeditor" class="btn btn-outline-primary" asp-area="" asp-controller="Quiz" asp-action="Index">Management</a>*@
                        <a id="testeditor" class="btn btn-outline-primary" asp-area="" asp-controller="Management" asp-action="Index">Management</a>
                    </li>
                    @*<li class="nav-item mr-1">
                        <a id="ideacreate" class="btn btn-outline-primary " asp-area="" asp-controller="Idea" asp-action="Create">Idea</a>
                    </li>*@
                    <li class="nav-item mr-1">
                        <a id="dothetest" class="btn btn-outline-primary" asp-area="" asp-controller="Quiz" asp-action="SelectQuiz">Test</a>
                    </li>


                    @*<li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="AnswerSheet" asp-action="Index">AnswerSheet</a>
        </li>*@

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>&copy; 2018 - SHC</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popperjs/popper.js"></script>
        <script src="~/lib/bootstrap-4.1.2-dist/js/bootstrap.min.js"></script>

        <script src="~/lib/intro.js-2.9.0/intro.js"></script>
        <script src="~/lib/momentjs/moment.min.js"></script>

        <script src="~/lib/gijgo-combined-1.9.10/js/gijgo.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popperjs/popper.js"></script>
        <script src="~/lib/bootstrap-4.1.2-dist/js/bootstrap.min.js"></script>

        <script src="~/lib/intro.js-2.9.0/intro.js"></script>
        <script src="~/lib/momentjs/moment.min.js"></script>

        <script src="~/lib/gijgo-combined-1.9.10/js/gijgo.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
