@using Microsoft.AspNetCore.Identity
@using qa8.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline my-2 my-lg-0"  >
                <a class="nav-link my-1 " asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <button type="submit" class=" btn btn-link my-1 ">Log out</button>
                <a title="Anonymous idea" class="ml-2 fa  fa-envelope fa-3x" asp-area="" asp-controller="Idea" asp-action="Create"></a>
    </form>
}
else
{
    <form class="form-inline my-2 my-lg-0">
        <a id="register" class="btn btn-outline-primary mr-1 my-2 my-sm-0" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        <a class="btn btn-outline-primary my-2 my-sm-0" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        <a title="Anonymous idea" class="ml-2 fa fa-envelope fa-3x" asp-area="" asp-controller="Idea" asp-action="Create"></a>
    </form>
}
