﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".jpg"] {
    width: 60%;
}*/

.carousel-inner > .item > img {
    width: 640px;
    height: 360px;
}

/* QR code generator */
/*#qrCode {
    margin: 15px;
}*/


/* image*/


/* Hide/rearrange for smaller screens */

/*.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}*/
.flip-clock-wrapper {
    zoom: 0.5;
    -moz-transform: scale(0.5)
}

