﻿@model qa8.Models.Question

@{
    ViewData["Title"] = "Q&A System";
}

<h2 class="text-success" style="text-align:center">Create your question</h2>


<!----------------------->

<div class="container" style="max-width:800px;padding:10px;background:#ebeff2">
    <form class="form-horizontal" role="form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Test name</label>
            <div class="col-sm-8">
                <input disabled class="form-control" value="@ViewBag.text" />
            </div>
            <input asp-for="quizId" value="@ViewData["quizId"]" class="form-control" type="hidden" />
        </div>

        <!---------------------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="text" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="text" class="form-control " />
                <span asp-validation-for="text" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Question image</label>

            <div class="col-sm-3">
                <input type="file" id="uploadImageQuestion" name="uploadImageQuestion" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageQuestion" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageQuestion">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageQuestion" value="Remove" />*@
                <input asp-for="imageSource" value="" class="form-control" id="txtImageQuestion" hidden />
            </div>
        </div>

        <!------------------------------------------------------>
        <div class="row" style="padding-top:5px">
            <label asp-for="A" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="A" class="form-control " />
                <span asp-validation-for="A" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image A</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageA" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceA" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceA">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceA" value="Remove" />*@
                <input asp-for="imageSourceA" value="" class="form-control" id="txtImageSourceA" hidden />
            </div>
        </div>
        <!------------------------------------------------>
        <div class="row" style="padding-top:5px">
            <label asp-for="B" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="B" class="form-control " />
                <span asp-validation-for="B" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image B</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageB" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceB" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceB">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceB" value="Remove" />*@
                <input asp-for="imageSourceB" value="" class="form-control" id="txtImageSourceB" hidden />
            </div>
        </div>
        <!--------------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="C" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="C" class="form-control " />
                <span asp-validation-for="C" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image C</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageC" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceC" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceC">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceC" value="Remove" />*@
                <input asp-for="imageSourceC" value="" class="form-control" id="txtImageSourceC" hidden />
            </div>
        </div>
        <!-------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="D" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="D" class="form-control " />
                <span asp-validation-for="D" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image D</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageD" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceD" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceD">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceD" value="Remove" />*@
                <input asp-for="imageSourceD" value="" class="form-control" id="txtImageSourceD" hidden />
            </div>
        </div>
        <!-------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="E" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="E" class="form-control " />
                <span asp-validation-for="E" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image E</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageE" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceE" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceE">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceE" value="Remove" />*@
                <input asp-for="imageSourceE" value="" class="form-control" id="txtImageSourceE" hidden />
            </div>
        </div>
        <!----------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="correct" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <select asp-for="correct" asp-items="Html.GetEnumSelectList<qa8.Models.Question.Correct>()" class="form-control"></select>
                <span asp-validation-for="correct" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label asp-for="multipleChoice" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-2">
                <div class="pretty p-success p-switch p-fill">
                    <input asp-for="multipleChoice" type="checkbox" checked="checked" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row" style="padding-top:5px">
                <label asp-for="imageSource" class="col-form-label col-sm-3"></label>
                <div class="col-sm-8">
                    <input asp-for="imageSource" class="form-control " />
                    <span asp-validation-for="imageSource" class="text-danger"></span>
                </div>
            </div>*@
        <div class=" col-sm-offset-2 col-sm-8" style="text-align:center;padding-top:5px">
            <button type="submit" value="Create" class="btn btn-outline-primary ">Save</button>
            <a class="btn btn-outline-warning" asp-controller="Quiz" asp-action="Details" asp-route-id="@ViewBag.quizId">Cancel</a>
        </div>
    </form>
</div>


<div>

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            //question
            $('#uploadImageQuestion').change(function () {
                //var fileExtension = ['jpg', 'png'];
                //var filename = $('#uploadImageQuestion').val();
                //if (filename.length == 0) {
                //    alert("Please select an image" );
                //    return false;
                //}
                //else {
                //    var extension = filename.replace(/^.*\./, '');
                //    if ($.inArray(extension, fileExtension) == -1) {
                //        alert("Please select only image file *.JPG or *.PGN");
                //        return false;
                //    }
                //}
                var fdata = new FormData();
                var fileUpload = $("#uploadImageQuestion").get(0);
                var files = fileUpload.files;
                fdata.append('file', files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Question/Upload",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        if (message.length > 0) {

                            $('#srcImageQuestion').attr('src', message);
                            $('#txtImageQuestion').attr('value', message);
                            $('#cardImageQuestion').removeAttr('hidden');
                            $('#cardImageQuestion').fadeIn(1000);
                        }

                        else {
                            console.log("loi success")
                        }
                    },
                    error: function (e) {
                        console.log("loi fail");
                    }
                });
            });


            //image A
            $('#uploadImageA').change(function () {
                
                var fdata = new FormData();
                var fileUpload = $("#uploadImageA").get(0);
                var files = fileUpload.files;
                fdata.append('file', files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Question/Upload",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        if (message.length > 0) {

                            $('#srcImageSourceA').attr('src', message);
                            $('#txtImageSourceA').attr('value', message);
                            $('#cardImageSourceA').removeAttr('hidden');
                            $('#cardImageSourceA').fadeIn(1000);
                        }

                        else {
                            console.log("loi success")
                        }
                    },
                    error: function (e) {
                        console.log("loi fail");
                    }
                });
            });

            //-image B------------------------------------------
            $('#uploadImageB').change(function () {

                var fdata = new FormData();
                var fileUpload = $("#uploadImageB").get(0);
                var files = fileUpload.files;
                fdata.append('file', files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Question/Upload",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        if (message.length > 0) {

                            $('#srcImageSourceB').attr('src', message);
                            $('#txtImageSourceB').attr('value', message);
                            $('#cardImageSourceB').removeAttr('hidden');
                            $('#cardImageSourceB').fadeIn(1000);
                        }

                        else {
                            console.log("loi success")
                        }
                    },
                    error: function (e) {
                        console.log("loi fail");
                    }
                });
            });

            //--image c
            $('#uploadImageC').change(function () {

                var fdata = new FormData();
                var fileUpload = $("#uploadImageC").get(0);
                var files = fileUpload.files;
                fdata.append('file', files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Question/Upload",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        if (message.length > 0) {

                            $('#srcImageSourceC').attr('src', message);
                            $('#txtImageSourceC').attr('value', message);
                            $('#cardImageSourceC').removeAttr('hidden');
                            $('#cardImageSourceC').fadeIn(1000);
                        }

                        else {
                            console.log("loi success")
                        }
                    },
                    error: function (e) {
                        console.log("loi fail");
                    }
                });

            });
            //----imageD
            $('#uploadImageD').change(function () {

                var fdata = new FormData();
                var fileUpload = $("#uploadImageD").get(0);
                var files = fileUpload.files;
                fdata.append('file', files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Question/Upload",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        if (message.length > 0) {

                            $('#srcImageSourceD').attr('src', message);
                            $('#txtImageSourceD').attr('value', message);
                            $('#cardImageSourceD').removeAttr('hidden');
                            $('#cardImageSourceD').fadeIn(1000);
                        }

                        else {
                            console.log("loi success")
                        }
                    },
                    error: function (e) {
                        console.log("loi fail");
                    }
                });
            });
            //----imageE
            $('#uploadImageE').change(function () {

                var fdata = new FormData();
                var fileUpload = $("#uploadImageE").get(0);
                var files = fileUpload.files;
                fdata.append('file', files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Question/Upload",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        if (message.length > 0) {

                            $('#srcImageSourceE').attr('src', message);
                            $('#txtImageSourceE').attr('value', message);
                            $('#cardImageSourceE').removeAttr('hidden');
                            $('#cardImageSourceE').fadeIn(1000);
                        }

                        else {
                            console.log("loi success")
                        }
                    },
                    error: function (e) {
                        console.log("loi fail");
                    }
                });
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
