﻿@model qa8.Models.Question

@{
    ViewData["Title"] = "Q&A System";
}

@*<h2 class="text-danger" style="text-align:center">Delete question</h2>*@
<h3 class="text-danger" >Are you sure you want to delete this?</h3>
<div >
    <form class="form-horizontal col-sm-6">
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.id)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.id)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.text)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.text)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.A)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.A)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.B)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.B)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.C)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.C)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.D)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.D)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.E)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.E)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.correct)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.correct)">
            </div>
        </div>
        
       
    </form>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a class="btn btn-outline-warning" asp-controller="Quiz" asp-action="Details" asp-route-id="@ViewBag.quizId">Cancel</a>
    </form>
</div>
