﻿@model qa8.Models.Question

@{
    ViewData["Title"] = "Q&A System";
}

<h2 class="text-success">Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quizId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quizId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.multipleChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.multipleChoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.A)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.A)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.B)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.B)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.D)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.D)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-controller="Quiz" asp-action="Details" asp-route-id="@ViewBag.quizId">Back to List</a>
</div>
