﻿@model qa8.Models.Question

@{
    ViewData["Title"] = "Q&A System";
}

<h2 class="text-success" style="text-align:center">Edit your question</h2>

<div class="container" style="max-width:600px;padding:10px;background:#ebeff2">
    <form class="form-horizontal" role="form" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row" style="padding-top:5px">
            @*<label class="control-label col-sm-3">Quiz name</label>
            <div class=" col-sm-8">
                <input disabled class="form-control" value="@ViewData["quizText"]" />
            </div>*@
            <input asp-for="quizId" value="@ViewData["quizId"]" class="form-control" type="hidden" />
        </div>
        <!---------------------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="text" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="text" class="form-control " />
                <span asp-validation-for="text" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Question image</label>

            <div class="col-sm-3">
                <input type="file" id="uploadImageQuestion" name="uploadImageQuestion" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageQuestion" >
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageQuestion">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageQuestion" value="Remove" />*@
                <input asp-for="imageSource"  class="form-control" id="txtImageQuestion" hidden />
            </div>
        </div>

        <!------------------------------------------------------>
        <div class="row" style="padding-top:5px">
            <label asp-for="A" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="A" class="form-control " />
                <span asp-validation-for="A" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image A</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageA" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceA" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceA">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceA" value="Remove" />*@
                <input asp-for="imageSourceA" value="" class="form-control" id="txtImageSourceA" hidden />
            </div>
        </div>
        <!------------------------------------------------>
        <div class="row" style="padding-top:5px">
            <label asp-for="B" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="B" class="form-control " />
                <span asp-validation-for="B" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image B</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageB" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceB" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceB">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceB" value="Remove" />*@
                <input asp-for="imageSourceB" value="" class="form-control" id="txtImageSourceB" hidden />
            </div>
        </div>
        <!--------------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="C" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="C" class="form-control " />
                <span asp-validation-for="C" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image C</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageC" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceC" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceC">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceC" value="Remove" />*@
                <input asp-for="imageSourceC" value="" class="form-control" id="txtImageSourceC" hidden />
            </div>
        </div>
        <!-------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="D" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="D" class="form-control " />
                <span asp-validation-for="D" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image D</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageD" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceD" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceD">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceD" value="Remove" />*@
                <input asp-for="imageSourceD" value="" class="form-control" id="txtImageSourceD" hidden />
            </div>
        </div>
        <!-------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="E" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="E" class="form-control " />
                <span asp-validation-for="E" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label class="col-form-label col-sm-3">Image E</label>
            <div class="col-sm-3">
                <input type="file" id="uploadImageE" name="files" class="form-control" />
            </div>
            <div class="col-sm-6" id="cardImageSourceE" hidden>
                <div class="card" style="width: 10rem;text-align:center">
                    <img class="card-img-top" src="~/images/adidas23701.jpg" id="srcImageSourceE">
                </div>
                @*<input class="btn btn-outline-danger" type="button" id="btnRemoveImageSourceE" value="Remove" />*@
                <input asp-for="imageSourceE" value="" class="form-control" id="txtImageSourceE" hidden />
            </div>
        </div>
        <!----------------------------------------->
        <div class="row" style="padding-top:5px">
            <label asp-for="correct" class="control-label col-sm-3"></label>
            <div class=" col-sm-8">
                <select asp-for="correct" asp-items="Html.GetEnumSelectList<qa8.Models.Question.Correct>()" class="form-control"></select>
                <span asp-validation-for="correct" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <label asp-for="multipleChoice" class="control-label col-sm-3"></label>
            <div class="checkbox col-sm-8">
                <label>
                    <input asp-for="multipleChoice" /> @Html.DisplayNameFor(model => model.multipleChoice)
                </label>
            </div>
        </div>
        @*<div class="row" style="padding-top:5px">
            <label asp-for="imageSource" class="control-label col-sm-3"></label>
            <div class=" col-sm-8">
                <input asp-for="imageSource" class="form-control " />
                <span asp-validation-for="imageSource" class="text-danger"></span>
            </div>
        </div>*@
        <div class=" col-sm-offset-2 col-sm-8" style="padding-top:5px">
            <button type="submit" value="Edit" class="btn btn-outline-primary ">Save</button>
            <a class="btn btn-outline-warning" asp-controller="Quiz" asp-action="Details" asp-route-id="@ViewBag.quizId">Cancel</a>
        </div>
    </form>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
