﻿@model IEnumerable<qa8.Models.Question>

@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success " asp-action="Create">New Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.multipleChoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.A)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.B)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.D)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.multipleChoice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imageSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quiz.id)
                </td>
                <td>
                    <a class="btn btn-success fa fa-edit" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a class="btn btn-success fa fa-eye" asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a class="btn btn-danger fa fa-remove" title="Delete quiz" asp-route-id="@item.id">Delete</a>
                 </td>
            </tr>
        }
    </tbody>
</table>
