﻿@model qa8.Models.AnswerSheet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>AnswerSheet</h4>
<hr />
<div class="container" style="max-width:600px;padding:40px 20px;background:#ebeff2">

    <form class="form-horizontal" role="form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
            <label asp-for="quizId" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="quizId" class="form-control" id="quizName" placeholder="Enter quiz name">
            </div>
            <span asp-validation-for="quizId" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="userId" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="userId" class="form-control" id="quizName" placeholder="Enter user id">
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="quizId" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="quizId" class="form-control" id="authorId" placeholder="Enter quiz id">
                <span asp-validation-for="quizId" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="questionId" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="questionId" class="form-control" id="deadLine" placeholder="Enter question id">
                <span asp-validation-for="questionId" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="answerText" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="answerText" class="form-control" id="score" placeholder="Enter choice text">
                <span asp-validation-for="answerText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="correctAnswer" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="correctAnswer" class="form-control" id="score" placeholder="Enter answer text">
                <span asp-validation-for="correctAnswer" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="dateSubmitted" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="dateSubmitted" class="form-control" id="dateSubmitted" placeholder="Enter date submitted">
                <span asp-validation-for="dateSubmitted" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="openAnswer" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="openAnswer" class="form-control" id="feedBack" placeholder="Enter feedback">
                <span asp-validation-for="openAnswer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="second" class="control-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="second" class="form-control" id="score" placeholder="Enter second">
                <span asp-validation-for="second" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="questionType" class="control-label col-sm-3"></label>
            <div class="checkbox col-sm-8">
                <label>
                    <input asp-for="questionType" /> @Html.DisplayNameFor(model => model.questionType)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="isCorrect" class="control-label col-sm-3"></label>
            <div class="checkbox col-sm-8">
                <label>
                    <input asp-for="isCorrect" /> @Html.DisplayNameFor(model => model.isCorrect)
                </label>
            </div>
        </div>
        <div class=" col-sm-offset-2 col-sm-8">
            <button type="submit" value="Create" class="btn btn-success glyphicon glyphicon-floppy-disk"></button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

