﻿@model qa8.Models.AnswerSheet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnswerSheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quizId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quizId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.questionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.questionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.questionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.questionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.answerText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.answerText)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.correctAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correctAnswer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateSubmitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateSubmitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.openAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.openAnswer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isCorrect)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isCorrect)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.second)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.second)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
