﻿@model qa8.Models.AnswerSheet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>AnswerSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quizId" class="control-label"></label>
                <input asp-for="quizId" class="form-control" />
                <span asp-validation-for="quizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="questionId" class="control-label"></label>
                <input asp-for="questionId" class="form-control" />
                <span asp-validation-for="questionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="questionType" class="control-label"></label>
                <input asp-for="questionType" class="form-control" />
                <span asp-validation-for="questionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="answerText" class="control-label"></label>
                <input asp-for="answerText" class="form-control" />
                <span asp-validation-for="answerText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correctAnswer" class="control-label"></label>
                <input asp-for="correctAnswer" class="form-control" />
                <span asp-validation-for="correctAnswer" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="dateSubmitted" class="control-label"></label>
                <input asp-for="dateSubmitted" class="form-control" />
                <span asp-validation-for="dateSubmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="openAnswer" class="control-label"></label>
                <input asp-for="openAnswer" class="form-control" />
                <span asp-validation-for="openAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isCorrect" class="control-label"></label>
                <input asp-for="isCorrect" class="form-control" />
                <span asp-validation-for="isCorrect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="second" class="control-label"></label>
                <input asp-for="second" class="form-control" />
                <span asp-validation-for="second" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

