﻿@model IEnumerable<qa8.Models.AnswerSheet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quizId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.answerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correctAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.openAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.second)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quizId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.questionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.questionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correctAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.openAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.second)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
