﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row" >
    <div class="col-md-4" style="margin:auto">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <span style="color:red">*</span>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span style="color:red">*</span>
                <label asp-for="UserName">ID Card No.</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color:red">*</span>
                <label asp-for="fullName"></label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<span style="color:red">*</span>*@
                <label asp-for="nickName">English Name</label>
                <input asp-for="nickName" class="form-control" />
                <span asp-validation-for="nickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color:red">*</span>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color:red">*</span>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>
<footer>
    <p>
        <span style="color:red">*</span> is required field
    </p>
    
</footer>
@section Scripts {
    @*@await Html.PartialAsync("_ValidationScriptsPartial")*@
}
