﻿@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>Management page</h2>
</div>
<div class=" row col-lg-12 mt-5 mx-auto">
    <div class="col-lg-4 offset-1 ">
        <a asp-controller="Quiz" asp-action="Index">
            <div id="testeditor1" class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:18rem">
                <img class="card-img-top" src="~/images/test.jpg" alt="Card image cap">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">TEST EDITOR</h5>
                </div>
            </div>
        </a>
        
    </div>

    <div class="col-lg-4 offset-2 ">
        <a asp-controller="Idea" asp-action="Index">
            <div id="usermanagement" class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:18rem">
                <img class="card-img-top" src="~/images/Idea-Light-Bulb.jpg" alt="Card image cap">
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">ANONYMOUS IDEA</h5>
                </div>
            </div>
        </a>
        
    </div>

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#testeditor1").addClass('animated bounceInUp');
           
            $("#usermanagement").addClass('animated bounceInUp');
        });
    </script>
}