﻿@model qa8.Models.Quiz

@{
    ViewData["Title"] = "Q&A System";
}

<h2 class="text-success" style="text-align:center">Create new test</h2>

<div class="container" style="max-width:600px;padding:10px;background:#ebeff2">

    <form class="form-horizontal" role="form" asp-action="Create" autocomplete="off">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
                <label asp-for="quizId" class="control-label col-sm-3"></label>
                <div class="col-sm-8">
                    <input asp-for="quizId" class="form-control" id="quizName" placeholder="Enter quiz name">
                </div>
                <span asp-validation-for="quizId" class="text-danger"></span>
            </div>*@
        <div class="row">
            <label asp-for="text" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8" data-step="1" data-intro="Pick a name for your test">
                <input asp-for="text" class="form-control" id="quizName" placeholder="Input test name, example: 4M">
                <span asp-validation-for="text" class="text-danger"></span>
            </div>

        </div>
        @* ------------------- *@
        @*<div class="row">
                <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
                </div>
            </div>*@
        @* ------------------- *@
        <div style="padding-top:5px" class="row">
            <label class="col-form-label col-sm-3">ID card No.</label>
            <div class="col-sm-8">
                <input disabled class="form-control" value="@ViewBag.authorId">
            </div>
            <input asp-for="authorId" value="@ViewBag.authorId" class="form-control" type="hidden">
        </div>

        <div style="padding-top:5px" class="row">
            <label asp-for="deadLine" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8" data-step="2" data-intro="Set deadline for this test">
                <input asp-for="deadLine" type="text" class="form-control" id="datetimepicker5"  autocomplete="false">
                @*<span asp-validation-for="deadLine" class="text-danger"></span>*@
            </div>
            @*<div class="col-sm-8" data-step="2" data-intro="Set deadline for this test">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                            <input asp-for="deadLine" type="text" class="form-control datetimepicker-input" readonly="readonly"  data-target="#datetimepicker4" />
                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>

        <div style="padding-top:0px" class="row">
            <label asp-for="targetScore" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8" data-step="3" data-intro="Set pass score for this test">
                <input asp-for="targetScore" type="number" class="form-control" id="score">
                <span asp-validation-for="targetScore" class="text-danger"></span>
            </div>
        </div>
        <div style="padding-top:5px" class="row">
            <label asp-for="timer" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8" data-step="4" data-intro="Set timer (in seconds) for every question. Example: 75 means 1 minute and 15 seconds">
                <input asp-for="timer" type="number" class="form-control" id="timer">
                <span asp-validation-for="timer" class="text-danger"></span>
            </div>
        </div>
        <div style="padding-top:5px" class="row">
            <label asp-for="status" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-2">
                <div class="pretty p-success p-switch p-fill" data-step="5" data-intro="Turn it on so that the user can take your test ">
                    <input asp-for="status" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top:5px" class="row">
            <label asp-for="showResult" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-2">
                <div class="pretty p-success p-switch p-fill" data-step="6" data-intro="Turn it on if you would like to let the user see the correct answer after they finish their test ">
                    <input asp-for="showResult" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top:5px" class="row">
            <label asp-for="ramdomizeOrderOfAnswer" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-2">
                <div class="pretty p-success p-switch p-fill" data-step="7" data-intro="Turn it on if you would like to shuffle the order of answer">
                    <input asp-for="ramdomizeOrderOfAnswer" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top:5px" class="row">
            <label asp-for="ramdomizeOrderOfQuestion" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-2">
                <div class="pretty p-success p-switch p-fill" data-step="8" data-intro="Turn it on if you would like to shuffle the order of question">
                    <input asp-for="ramdomizeOrderOfQuestion" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>


        <div class=" col-sm-offset-2 col-sm-8" style="text-align:center">
            <button data-step="9" data-intro="Click save to complete" type="submit" value="Create" class="  btn btn-outline-primary">Save</button>
            <button class="btn btn-outline-warning" asp-action="Index">Cancel</button>
        </div>
    </form>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/lib/momentjs/moment.min.js"></script>
    @*<script src="~/lib/momentjs/moment-with-locales.min.js"></script>
    <script src="~/lib/tempusdominus/tempusdominus.min.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {

            $('#help').click(function () {
                console.log('ok');
                introJs().start();
            });

            $(function () {
                $('#datetimepicker5').datepicker({
                    uiLibrary: 'bootstrap4',
                    calendarWeeks: true,
                    disableDaysOfWeek: [0],
                    keyboardNavigation: true,
                    showOtherMonths: true
                });
                //$('#datetimepicker5').datetimepicker({

                //    format: 'L',
                //    defaultDate: "12/01/2019",
                //    icons: {
                //        //time: "fa fa-clock",
                //        date: "fa calendar-alt",
                //        up: "fa fa-arrow-up",
                //        down: "fa fa-arrow-down"

                //    },
                //    daysOfWeekDisabled: [0],
                //    //sideBySide: true,

                //});

                $('#datetimepicker5').keypress(function (event) {
                    if (event.keyCode === 10 || event.keyCode === 13) {
                        event.preventDefault();
                    }
                });
            });



        });

    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
}
