﻿@model qa8.Models.Quiz
@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var active = Model.status;
 
}

<h2 class="text-danger" style="text-align:center">Error page </h2>
<h3>
    This Quiz : "@Html.DisplayFor(model => model.text)" is set to private by Administrator or you was late !<br />

    Deadline on @Html.DisplayFor(model => model.deadLine)<br />
    Status : @Html.DisplayFor(model => model.status) 
</h3>



