﻿
@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">You can not do this action. This test do not belong to you !</h2>
<div style="text-align:center">
    <a class="btn btn-outline-primary" asp-controller="Quiz" asp-action="Index">Go back</a>
</div>
