﻿@model qa8.Models.Quiz

@{
    ViewData["Title"] = "Q&A System";
}

<h2 class="text-danger" style="text-align:center">Delete test</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <form class="form-horizontal col-sm-6">
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.id)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.id)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.text)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.text)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.authorId)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.authorId)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.deadLine)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.deadLine)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.targetScore)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.targetScore)">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.timer)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.timer)">
            </div>
        </div>
    </form>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <button class="btn btn-outline-warning" asp-action="Index">Cancel</button>
    </form>
</div>
