﻿@model qa8.Models.Quiz

@{
    ViewData["Title"] = "Q&A System";
}

<h2 class="text-success" style="text-align:center">Question management page</h2>
<div >
    
    <hr />
    @*<dl class="dl-horizontal">
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.authorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.authorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deadLine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deadLine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.targetScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.targetScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timer)
        </dd>
    </dl>*@
    
    <form class="form-horizontal col-sm-6">
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.id)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.id)">
            </div>
        </div>*@
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.text)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.text)">
            </div>
        </div>
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.authorId)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.authorId)">
            </div>
        </div>*@
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.deadLine)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.deadLine)">
            </div>
        </div>*@
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.targetScore)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.targetScore)">
            </div>
        </div>*@
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.timer)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.timer)">
            </div>
        </div>*@
    </form>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.id">Test setting</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Back to test editor</a>
</div>




<hr />

<p>
    <a class="btn btn-outline-primary " asp-controller="Question" asp-action="Create" asp-route-quizId="@Model.id">New Question</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th >
                @*@Html.DisplayNameFor(model => model.questions)*@
                Question
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.A)*@
                Choice A
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.B)*@
                Choice B
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.C)*@
                Choice C
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.D)*@
                Choice D
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.D)*@
                Choice E
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.correct)*@
                Correct
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.multipleChoice)*@
                Answer choice
            </th>
           
            <th>
                @*@Html.DisplayNameFor(model => model.quiz)*@
                Quiz ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.questions)
        {
        <tr>
            <td  style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.A)
            </td>
            <td style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.B)
            </td>
            <td style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D)
            </td>
            <td style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.E)
            </td>
            <td style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.correct)
            </td>
            <td style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.multipleChoice)
            </td>
           
            <td style="word-wrap: break-word;word-break: break-word;">
                @Html.DisplayFor(modelItem => item.quiz.id)
            </td>
            <td>
                @*<a class="fa fa-edit btn btn-outline-primary " asp-controller="Question" asp-action="Edit" asp-route-id="@item.id"></a> |*@
                @*<a class="fa fa-eye btn btn-outline-primary " asp-controller="Question" asp-action="Details" asp-route-id="@item.id"></a> |*@
                <a class="fa fa-trash-alt btn btn-outline-danger" asp-controller="Question" asp-action="Delete" asp-route-id="@item.id"></a>
            </td>
        </tr>
}
</tbody>
</table>
