﻿@model qa8.Models.Quiz

@{
    ViewData["Title"] = "Q&A System";

}


<h2 class="text-success" style="text-align:center">Test setting</h2>

<div class="container" style="max-width:600px;padding:10px;background:#ebeff2">

    <form class="form-horizontal" role="form" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="id" class="col-form-label col-sm-3"></label>
            <div class=" col-sm-8">
                <input asp-for="id" class="form-control" disabled />
            </div>

        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="text" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="text" class="form-control" id="quizName" placeholder="Enter quiz name">
                <span asp-validation-for="text" class="text-danger"></span>
            </div>

        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="authorId" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input asp-for="authorId" class="form-control" id="authorId" disabled>
                <span asp-validation-for="authorId" class="text-danger"></span>
            </div>

        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="deadLine" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8" >
                <input asp-for="deadLine" type="text" class="form-control" id="datetimepicker6" autocomplete="false">
                @*<span asp-validation-for="deadLine" class="text-danger"></span>*@
            </div>
        </div>

        <div class=" row" style="padding-top:5px">
            <label asp-for="targetScore" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input type="number" asp-for="targetScore" class="form-control" id="score" placeholder="Enter target score">
                <span asp-validation-for="targetScore" class="text-danger"></span>
            </div>
        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="timer" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8">
                <input type="number" asp-for="timer" class="form-control" id="score" placeholder="Add timer for question (seconds)">
                <span asp-validation-for="timer" class="text-danger"></span>
            </div>
        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="status" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-1">
                <div class="pretty p-success p-switch p-fill">
                    <input asp-for="status" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="showResult" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-1">
                <div class="pretty p-success p-switch p-fill">
                    <input asp-for="showResult" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="ramdomizeOrderOfAnswer" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-1">
                <div class="pretty p-success p-switch p-fill">
                    <input asp-for="ramdomizeOrderOfAnswer" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" row" style="padding-top:5px">
            <label asp-for="ramdomizeOrderOfQuestion" class="col-form-label col-sm-3"></label>
            <div class="col-sm-8 my-1">
                <div class="pretty p-success p-switch p-fill">
                    <input asp-for="ramdomizeOrderOfQuestion" type="checkbox" /> @*@Html.DisplayNameFor(model => model.status)*@
                    <div class="state p-success">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-offset-2 col-sm-8" style="text-align:center">
            <button type="submit" value="Edit" class="btn btn-outline-primary ">Save</button>
            <button class="btn btn-outline-warning" asp-action="Index">Cancel</button>

        </div>
    </form>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">

        $(document).ready(function () {

            $('#help').click(function () {
                console.log('ok');
                introJs().start();
            });

            $(function () {
                //$('#datetimepicker6').html('');
                $('#datetimepicker6').datepicker({
                    uiLibrary: 'bootstrap4',
                    calendarWeeks: true,
                    disableDaysOfWeek: [0],
                    keyboardNavigation: true,
                    showOtherMonths: true
                });
                //$('#datetimepicker6').datetimepicker({
                //    format: 'L',
                //    defaultDate: "12/01/2019",
                //    icons: {
                //        //time: "fa fa-clock",
                //        date: "fa calendar-alt",
                //        up: "fa fa-arrow-up",
                //        down: "fa fa-arrow-down"

                //    },
                //    daysOfWeekDisabled: [0],
                //    //sideBySide: true,

                //});

                $('#datetimepicker5').keypress(function (event) {
                    if (event.keyCode === 10 || event.keyCode === 13) {
                        event.preventDefault();
                    }
                });
            });



        });

    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
}