﻿@model PaginatedList<qa8.Models.Quiz>

@{
    ViewData["Title"] = "Q&A System";

}

<h2 class="text-success" style="text-align:center">Test management page</h2>



@*<button  class="btn btn-success btn-md" data-toggle="modal" data-url="@Url.Action("Create","Quiz")" id="btnCreateQuiz">
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> New Quiz
    </button>*@
<div class="container">
    <form asp-action="Index" method="get" class="form-horizontal">
        <label class="col-form-label col-sm-3">
            <a data-step="1" data-intro="Click here to create a new test" class="btn btn-outline-primary " asp-controller="Quiz" asp-action="Create">Create new test</a>
        </label>
        <div class="col-sm-offset-3">
            <p data-step="2" data-intro="You can search a test by test name or test code in here" style="text-align:right">
                Find by quiz name or quiz code: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <button type="submit" value="Search" class="fa fa-search btn btn-lg btn-outline-primary "></button> |
                <a class="btn btn-outline-primary" asp-action="Index">Back to Full List</a>
            </p>
        </div>

    </form>
</div>
<div class="container mx-auto">
    <div class="col-sm-4 mx-auto" id="qrcode" style="width:50%"></div>
    <br />
    <div class="col-sm-4 mx-auto" id="qrcodelocal" style="width:50%"></div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@*@Html.DisplayNameFor(model => model.QuizName)*@Code</a>

            </th>
            <th >
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@*@Html.DisplayNameFor(model => model.QuizName)*@Quiz</a>
            </th>
            @*<th>
                    Deadline
                </th>
                <th>
                    Target score
                </th>
                <th>
                    Active
                </th>
                <th>
                    Timer
                </th>*@
            @*<th >Control button</th>*@
            <th>QR code</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="col-sm-12" >
                <td class="quizid">
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td style="word-wrap: break-word;word-break: break-word;">
                    @Html.DisplayFor(modelItem => item.text)
                    <div>
                        <a class="fa fa-cog btn btn-outline-primary " title="Test setting" asp-action="Edit" asp-route-id="@item.id"></a> |
                        <a class=" btn btn-outline-primary fa fa-list-ol" title="Create questions" asp-action="Details" asp-route-id="@item.id"></a> |
                        <a class="fa fa-users-cog btn btn-outline-primary " title="Add participants to this training" asp-action="ParticipantsList" asp-route-id="@item.id"></a>
                    @*</div>*@

                    @*<div style="padding-top:5px">*@
                        <a class="fa fa-trash-alt btn btn-outline-danger " title="Delete test" asp-action="Delete" asp-route-id="@item.id"></a>  |
                        <a class="fa fa-copy btn btn-outline-primary" title="Make a copy of this test" asp-action="MakeACopyFromAQuiz" asp-route-id="@item.id"></a> |
                        <a class="fa fa-eye btn btn-outline-primary" title="Monitor Result" asp-action="QuizResult" asp-route-id="@item.id"></a>

                    </div>
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.deadLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.targetScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.timer)
                    </td>*@
                @*<td  style="word-wrap: break-word;word-break: break-word;">
                    
                </td>*@
                <td  style="word-wrap: break-word;word-break: break-word;">
                    <div class="getid">
                        <button type="button" class="btn btn-outline-dark fa fa-qrcode " title="Generate QR code"></button>
                    </div>
                </td>
            </tr>


        }
    </tbody>
</table>




@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="fa fa-arrow-left btn btn-outline-primary  @prevDisabled">

</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="fa fa-arrow-right btn btn-outline-primary @nextDisabled">

</a>

@section Scripts{
    <script src="~/lib/davidshimjs-qrcodejs-04f46c6/qrcode.min.js"></script>
    <script>

        $(document).ready(function () {
            $("a").eq(9).attr("data-step", "3");
            $("a").eq(9).attr("data-intro", "Click this button to change test setting");
            $("a").eq(10).attr("data-step", "4");
            $("a").eq(10).attr("data-intro", "Click this button to create questions for this test");
            $("a").eq(11).attr("data-step", "5");
            $("a").eq(11).attr("data-intro", "To assign this test to specific group of people");
            $("a").eq(12).attr("data-step", "6");
            $("a").eq(12).attr("data-intro", "Remove this test");
            $("a").eq(13).attr("data-step", "7");
            $("a").eq(13).attr("data-intro", "Make a copy of this test");
            $("a").eq(14).attr("data-step", "8");
            $("a").eq(14).attr("data-intro", "Monitor user's testing result");
            $("button").eq(3).attr("data-step", "9");
            $("button").eq(3).attr("data-intro", "Generate a qr code, it will be linked to your test");
            $('#help').click(function () {
                introJs().start();
            });

            $('.getid').click(function () {
                var tr = $(this).closest('tr').find(".quizid").text();
                //alert(tr);
                var id = $.trim(tr);
                $('#qrcode').empty();
                $('#qrcodelocal').empty();
                var localhost = 'http://10.4.0.57:81/Quiz/SelectQuiz?SearchString=' + id;
                var host = 'http://210.245.115.87:81/Quiz/SelectQuiz?SearchString=' + id;

                new QRCode(document.getElementById("qrcode"), host);
                new QRCode(document.getElementById("qrcodelocal"), localhost);
            });


        });

    </script>
}

