﻿@model qa8.Models.Quiz
@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var active = Model.status;
 
}

<h2 class="text-danger" style="text-align:center">Error page </h2>
<h3>
    This test : "@Html.DisplayFor(model => model.text)" is not for you !<br />
    Please provide your ID card number to administrator if you want to take part in this test !
</h3>
<div style="text-align:center">
    <a class="btn btn-outline-primary" asp-controller="Quiz" asp-action="SelectQuiz">Go back</a>

</div>



