﻿@model qa8.Models.Quiz
@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success" style="text-align:center">Participants management page</h2>
<div>
    <form class="form-horizontal col-sm-6">
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.id)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.id)">
            </div>
        </div>*@
        <div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.text)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.text)">
            </div>
        </div>
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.authorId)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.authorId)">
            </div>
        </div>*@
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.deadLine)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.deadLine)">
            </div>
        </div>*@
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.targetScore)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.targetScore)">
            </div>
        </div>*@
        @*<div class="form-group row">
            <label class="col-form-label col-sm-3">@Html.DisplayNameFor(model => model.timer)</label>
            <div class="col-sm-8">
                <input class="form-control" disabled value="@Html.DisplayFor(model => model.timer)">
            </div>
        </div>*@
    </form>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.id">Test setting</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Back to test editor</a>
</div>

<hr />


<p>
        <a class="btn btn-outline-primary " asp-controller="Participant" asp-action="Create" asp-route-quizId="@Model.id">Add participant</a>
    </p>
@*<div>
    @Html.RenderPartialAsync("~/Views/Participant/Create.cshtml", new Participant { quizId = Model.id });
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Quiz ID
            </th>
            <th>
                ID Card No.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.participants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quizId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @*<a class="btn btn-success glyphicon glyphicon-pencil" asp-controller="Participant" asp-action="Edit" asp-route-id="@item.id"></a> |
                        <a class="btn btn-success glyphicon glyphicon-eye-open" asp-action="Details" asp-route-id="@item.id"></a> |*@
                    <a class="btn btn-outline-danger fa fa-trash-alt" asp-controller="Participant" asp-action="Delete" asp-route-id="@item.id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
