﻿
@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger" style="text-align:center">Error page </h2>
<h3>
    There are not any response for this test
</h3>

