﻿@model IEnumerable<qa8.Models.ViewModel.QuizDetailViewModel>

@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
}
<div style="text-align:center">
    <h2  >Training Result</h2>
</div>

@*<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
</div>*@
<div>
    <a class="btn btn-outline-success" style="float:right" asp-controller="Quiz" asp-action="ExportAllData" asp-route-id="@id">
        Export all data
    </a>
    <a class="btn btn-outline-success" style="float:right" asp-controller="Quiz" asp-action="ExportResult" asp-route-id="@id">
        Export this result
    </a>
</div>
<table class="table table-hover">
    <thead style="background-color:#adffcc">
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nickName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.submittionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nickName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submittionDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            @*<td>
            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>

@section Scripts{ 
@*<script src="~/lib/progressbarjs/progressbar.js"></script>
<script>
    $(document).ready(function () {

            var id = @id;
            var getnumberOfUser = $.ajax({
                    type: "GET",
                    url: "/Quiz/QuizResult2",
                    //beforeSend: function (xhr) {
                    //    xhr.setRequestHeader("XSRF-TOKEN",
                    //        $('input:hidden[name="__RequestVerificationToken"]').val());
                    //},
                    data: id,
                    contentType: "json",
                    //processData: false,
                    success: function (id) {

                    },
                    error: function (e) {
                    alert("error");
                    }
            });
            

        });
</script>*@
}