﻿@model qa8.Models.ViewModel.DataVM
@{
    ViewData["Title"] = "Q&A System";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var dataVM = Json.Serialize(Model);

}

@*<div class="input-group">
        <textarea class="form-control" name="openanswer" row="3"></textarea>
    </div>*@



<div class="container-fluid mt-3">
    @*<div class="controlclock">
            <div class="clock"></div>
        </div>*@

    <div class="container-fluid">


        <div class="shadow-sm p-1 mb-1 bg-white rounded" style="text-align:center" id="divdisplaycountdowntimer">
            <div class="text-danger  border border-primary rounded" id="displaycountdowntimer" style="font-size:160%;font-weight:700" hidden></div>

            <h1 class="text-info" id='topic'></h1>
        </div>
        <div class="progress" hidden>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;"></div>
        </div>

        <div id="areyoureadydiv">
            <div class="shadow-sm p-1 mb-1 bg-white rounded" style="text-align:center;">
                <h2 class="text-info " id="areyouready">Are you ready ?</h2>
            </div>
        </div>
        @*<div class='button' id='prev'><a href='#'>Prev</a></div>*@
        @*<div class='button' id='start'> <a href='#'>Start Over</a></div>*@
        <!-- <button class='' id='next'>Next</a></button>
        <button class='' id='prev'>Prev</a></button>
        <button class='' id='start'> Start Over</a></button> -->
        @*<div style="background-color:beige; "></div>*@
    </div>
    <div id='quiz'>

    </div>

    <div style="text-align:center;padding-top:30px ">
        <button class='btn btn-lg btn-outline-primary' id='next' hidden>Next</button>
    </div>
    <div style="text-align:center;padding-top:30px "><button class='btn btn-lg btn-outline-primary' id='start'>Start</button></div>

    <div style="text-align:center"><button class='btn btn-lg btn-outline-primary' id='showresultbutton' hidden>Show result</button></div>


</div>
<div class="container" id="resultblock">

</div>

<div style="text-align:center" id="gotonexttestdiv" hidden>
    <h3 class="text-success">The end (kết thúc)</h3>
    <a id="gotonexttesta" class="btn btn-md btn-success mt-2" asp-controller="Quiz" asp-action="SelectQuiz">Continue (Tiếp tục)</a>
</div>


@section Scripts
    {
    <script type="text/javascript">
        (function () {

            var dataVM = @dataVM;//this is questions array
            var quizid = dataVM.quizsetting.quizId;
            var targetScore = dataVM.quizsetting.targetScore;
            var questionslenght = dataVM.questions.length;
            var questionCounter = 0; //Tracks question number
            var selections = []; //Array containing user choices
            var quiz = $('#quiz'); //Quiz div object
            var answer = {};
            var openquestion = 404; //this is open question , do not count as score
            var timer = $('#displaycountdowntimer');//countdown html element
            var timeleft = dataVM.quizsetting.timer; // quiz setting : timer or not
            var counter = null; //counter increase after setinterval function 1 second
            //------create countdowntimer variable then, it is used in displaynext function--------------------------------------------
            var countdowntimer = null;
            var topicblock = $('#topic');
            var secondsrecord = [];

            var progressbar = $('.progress-bar');

            
            

            //------test push array-------------------------
            //$('#debugbutton').click(function () {
            //    var temp = $('h3[name="debug"]').text();
            //    $('#debugdisplayhere').text(temp);

            //    var arraydebug = [];

            //    arraydebug.push(temp);
            //    var get = arraydebug[0];
            //    console.log(get);
            //    $('#debugdisplayarray').text(get);
            //});
            

       //------end test push array-------------------------

            topicblock.text('Topic : '+dataVM.quizsetting.text);
            $('#areyouready').addClass('animated infinite pulse ');
            $('#start').addClass('animated  bounce ');
            
            
            //Display topic
            //displayTopic();
            // Display initial question
            //displayNext();
            //------Listen a event from showresultbutton-------------------------------------------------
            $('#showresultbutton').click(function () {

                $('#quiz').fadeOut(500);
                console.log('lang nghe su kien click showresultbutton');
                var result = ShowResultFunction();

                $('#resultblock').append(result);
                $('#resultblock').fadeIn(1000);
                $('#showresultbutton').fadeOut(1000);

            });

            // Click handler for the 'next' button
            $('#next').on('click', function (e) {
               e.preventDefault();
                //--------------------


               // Suspend click listener during fade animation
               if (quiz.is(':animated')) {
                   return false;
               }
               readuserchoice();
               console.log('check value trong array selections luc bam Next', selections[questionCounter]);

               //do here


                if (selections[questionCounter] === null) {
                   alert('Please answer your question !');
               }
               else {
                   questionCounter++;
                   displayNext();
               }

           });

           // Click handler for the 'prev' button
        /*   $('#prev').on('click', function (e) {
               e.preventDefault();

               if (quiz.is(':animated')) {
                   return false;
               }
               choose();
               questionCounter--;
               displayNext();
           });*/

           // Click handler for the 'Start Over' button
           $('#start').on('click', function (e) {
               e.preventDefault();

               if (quiz.is(':animated')) {
                   return false;
               }
               questionCounter = 0;
               selections = [];
               $('.progress').removeAttr('hidden').fadeIn(200);
               displayNext();
               $(timer).removeAttr("hidden");
               $('#start').hide(100);
               $('#start').attr('hidden');
               $('#areyouready').hide(100);
               $('#areyouready').attr('hidden');
               $('#areyoureadydiv').attr('hidden');
               //areyoureadydiv
               topicblock.hide(100);
               topicblock.attr('hidden');
               $('#next').removeAttr('hidden');
               $('#next').addClass('animated  bounce ');

           });

           // Animates buttons on hover
           $('.button').on('mouseenter', function () {
               $(this).addClass('active');
           });
           $('.button').on('mouseleave', function () {
               $(this).removeClass('active');
           });

           // Creates and returns the div that contains the questions and
           // the answer selections



            function createQuestionElement(questionCounter) {
                var qElement = $('<div class="mx-auto" id="question">');
                var divcard = $('<div class="card col-sm-10 mx-auto shadow  mb-3 bg-white rounded">');
                var divcardbody = $('<div class="card-body">');
                
                var questionNumber = $('<label class="text-success" style="font-size:150%">Question ' + (questionCounter + 1) + ' :</label>');
                

                var questiontext = $('<p class="card-text" style="font-size:1.3rem">').append(dataVM.questions[questionCounter].questiontext);
                
                divcardbody.append(questionNumber);
                divcardbody.append(questiontext);
                divcard.append(divcardbody);
                if (dataVM.questions[questionCounter].questionImage != null) {
                    var image = $('<img class="card-img-top col-sm-8 mx-auto mb-3" src="' + dataVM.questions[questionCounter].questionImage + '" alt="Card image cap">');
                    divcard.append(image);

                }
                qElement.append(divcard);
               
               //check type of question...if its multiple choice, create Radio buttons, otherwise show a textfield.
               //found out
              // console.log('test choice',questions[index].multipleChoice);
               //if (questions[index].multipleChoice == false)
               //{
                   //console.log('test1');
                   //var inputField = createInputField(index);
                   //qElement.append(inputField);

                   //got me?
                   //for now got it

               //}
               //else {
                
               
                //if (dataVM.questions[questionCounter].questionImage != null) {
                //    var imagediv = $('<div style="text-align:center">');
                //    var image = $('<div class="card col-sm-10 mx-auto" >');
                //    var img = '<img src="' + dataVM.questions[questionCounter].questionImage + '" class="card-img-top">';
                //   image.append(img);
                //  // console.log('create image')
                //    imagediv.append(image)
                //    qElement.append(imagediv);
                //}
                

               // if it is open question , we will have this
                if (dataVM.questions[questionCounter].multiplechoice) {
                    var radioButtons = createRadios(questionCounter);
                    qElement.append(radioButtons);
                    radioButtons.addClass("animated slideInRight");
                   console.log('create multiplechoice question');
               }
               else {
                   console.log('create inputtext question');
                   var textArea = createinputfield();
                    qElement.append(textArea);
                    textArea.addClass("animated slideInRight");
               }


               //}


               return qElement;
           }

           //creates a input field
            function createinputfield() {
                var inputtextfield = $('<form class="mt-3">');
                var item = $('<div class="form-group">');
                var input = '<textarea class="form-control border border-primary" name="openanswer" row="15" placeholder="Please input your answer here"></textarea>';
                item.append(input);
                inputtextfield.append(item);
                return inputtextfield;
            }

           // Creates a list of the answer choices as radio inputs

            function createRadios(questionCounter) {
                var radioList = $('<div class="row">');
               // var item;
               // var item1;
               // var item2;
               // var item3;
               //var label = '';
                var optionnumber = 0; 
                for (var i = 0; i <= 4; i++) {

                           if (dataVM.questions[questionCounter].answers[i] !== null) {

                               var div = $('<div class="card shadow  mb-2 bg-white rounded  mx-auto " style="width:14em"> ');
                               var divcardbody = $('<div class="card-body">');
                               var contentP = $('<p class="card-text" style="font-size:100%">');
                               //----------------------------------
                               var divpretty = $('<div class="pretty p-default p-curve p-bigger">');
                               var inputradio = $('<input  type="radio" name="radio66">');
                               var divlabel = $('<div class="state p-primary-o">');
                               var label = $('<label>');


                               //var label = '<label style="font-size:110%">' + dataVM.questions[questionCounter].answers[i].answer + '</label>';
                               var answervalue = dataVM.questions[questionCounter].answers[i].letter;
                               inputradio.attr("value", answervalue);
                               //--------------
                               divlabel.append(label);
                               divpretty.append(inputradio);
                               divpretty.append(divlabel);
                               contentP.append(divpretty);

                               if (dataVM.questions[questionCounter].answers[i].answer != null) {
                                   contentP.append(dataVM.questions[questionCounter].answers[i].answer);
                               }
                               else {
                                   var optionletter = '';
                                   switch(optionnumber){
                                       case 0:
                                           optionletter = 'A';
                                           break;
                                       case 1:
                                           optionletter = 'B';
                                           break;
                                       case 2:
                                           optionletter = 'C';
                                           break;
                                       case 3:
                                           optionletter = 'D';
                                           break;
                                       case 4:
                                           optionletter = 'E';
                                           break;

                                   }
                                   contentP.append("Option " + optionletter);

                               }
                               divcardbody.append(contentP);
                               div.append(divcardbody);

                               if (dataVM.questions[questionCounter].answers[i].imagesource != null) {
                                   
                                   var img = '<img class="card-img-top " src="' + dataVM.questions[questionCounter].answers[i].imagesource + '" >';
                                   //divcard.append(img);

                                   div.append(img);
                                  
                               }
                               
                               radioList.append(div);
                               optionnumber++;
                               
                    }
                    
               }
               return radioList;
           }
           // you can see here , it didnt check answer one by one ,
           //it will put answer to array then do at the end
           //i want to check one by one
           // Reads the user selection and pushes the value to an array
            function readuserchoice() {
                console.log('ham readuserchoice chay');
       //i guess you will put ajax request here...do you get it why?
       //because whether the question is text or mcq, you need ajax request
        //and whether the mcq answer is  right or wrong, you need ajax request
        //get it?yes

                if (dataVM.questions[questionCounter].multiplechoice) {
                    
                    var tempinputradio = $('input[name="radio66"]:checked').val();
                    //var temp = $('h3[name="debug"]').text();
                    console.log('tempinputradio =', tempinputradio);
                    selections.push(tempinputradio); //cu phap tim kiem theo the tag
                    var getradio = selections[questionCounter];
                    console.log('getradio =', getradio);
                }
                else {

                    var tempinputtext = $('textarea[name="openanswer"]').val();
                    console.log('tempinputtext', tempinputtext);
                    selections.push(tempinputtext);
                    var gettext = selections[questionCounter];
                    console.log('gettext', gettext);
                }



                   var test = +$('input[name="answer"]:checked').val();
                if (test == dataVM.questions[questionCounter].correctAnswer) {
                       //do check answer here ?
                       // alert('this is a correct answer');

                       //swal("Correct! Good Job", "Your answer is correct!", "success", {
                       //    confirmButtonText: "Next question",
                       //});

                   }
                   else {
                       // alert('this is a incorrect answer');
                       //swal("Oops! Incorrect", "The correct answer is " + questions[questionCounter].correct.answer, "error", {
                       //    confirmButtonText: "Next question!",
                       //});

                   }

               //}

               //else {
               //    selections[questionCounter] = 'ok';
               //}



               //are we getting index of question in the questionCounter. right??
               //you getting me?

           }

           // Displays next requested element
           //listen. in both cases whether it is mcq or text. we have to call this function createQuestionElement.
            function displayNext() {
                //ok
                
                //timeleft = 10;
                secondsrecord.push(counter);
                var gettime = secondsrecord[questionCounter];

                console.log('thoi gian danh cho question nay la', gettime);
                counter = 0;

                
                //$(timer).text(ConvertSecondsToMinuteSecond(timeleft - counter));
                resettimer();
                clearInterval(countdowntimer);



               quiz.fadeOut(function () {
                   $('#question').remove();

                   if (questionCounter < questionslenght) {
                       //progressbar
                       var percentcomplete = (questionCounter + 1) * 100 / questionslenght;
                       progressbar.text(questionCounter + 1 + "/" + questionslenght);
                       progressbar.css("width", percentcomplete+"%");
                       progressbar.attr({
                           "aria-valuenow": questionCounter,
                           "aria-valuemin": 0,
                           "aria-valuemax": questionslenght,
                       });

                       //----------------------------------
                       var nextQuestion;

                   ///you getting my point? you get me? as we want to check previous question multiplechoice property
                       //that's why -1. get me?okie .let. wait
                       nextQuestion = createQuestionElement(questionCounter);
                       //nextQuestion.addClass("slideInRight");

                       //we need this below code inside an if condition if the question coming is text question.ok?
                      // console.log('true or false..MULTIPLE CHOICE', questions[questionCounter - 1].multipleChoice);
                       //here?do below now

                       //if (questionCounter == 0) {


                       //}
                       //else {

                       //    if (questions[questionCounter - 1].multipleChoice == false) {
                       //        var test2 = $('#' + questions[questionCounter - 1]).val();
                       //        //  console.log('abc',test2);

                       //        if (test2 == '' || test2 == null) {
                       //            swal("Empty Field", "Please fill the field!", "error");

                       //        }
                       //        //okay? get it? yes
                       //        else {
                       //            swal("Great", "We will review your answer!", "success");

                       //        }
                       //        //can you show me where it is increasing the questionCounter so that
                       //        //next question comes up
                       //    }
                       //}

                       quiz.append(nextQuestion).fadeIn(200);

                       if (dataVM.questions[questionCounter].multiplechoice) {
                           //if (selections[questionCounter] === null) {
                           //    $('input[value=' + selections[questionCounter] + ']').prop('checked', true);

                           //}
                           if (timeleft != null) {

                               countdowntimer = setInterval(countdown, 1000);

                               //clock = new FlipClock($('.clock'), timeleft, {
                               //    //clockFace: 'Counter',
                               //    clockFace: 'MinuteCounter',
                               //    autoStart: true,
                               //    countdown: true,

                               //});
                           }


                           //get value from one of 4 radio button which we have chosen
                       }
                       else {

                           //clock = new FlipClock($('.clock'), 0, {
                           //    //clockFace: 'Counter',
                           //    clockFace: 'MinuteCounter',
                           //    autoStart: true,
                           //    countdown: true,

                           //});

                       }
                       //i forgot isNaN . can you please tell what it does?
                       //if user not yet give a answer , it will not go next

                       // Controls display of 'prev' button
                       if (questionCounter === 1) {
                           $('#prev').show();
                       } else if (questionCounter === 0) {

                           $('#prev').hide();
                           $('#next').show();
                       }
                   } else {
                       var scoreElem = displayScore();

                       $('.controlclock').empty();
                       $('.progress').empty().fadeOut();
                       quiz.append(scoreElem).fadeIn(4000);
                       
                       $('#next').hide();
                       $('#prev').hide();

                       $('#gotonexttestdiv').removeAttr("hidden");
                       $('#gotonexttesta').addClass("animated rubberBand");

                       var questionslistpost = dataVM.questions;
                       var selectionslistpost = selections;
                       var quizinfo = dataVM.quizsetting;
                       var cycletime = secondsrecord;
                       var data1 = {
                           questions: questionslistpost,
                           selections: selectionslistpost,
                           quiz: quizinfo,
                           cycletime: cycletime,

                       };
                       post1(data1);
                       //$('#start').show();
                   }
               });
           }

           // Computes score and returns a paragraph element to be displayed
            function displayScore() {
                $('#divdisplaycountdowntimer').fadeOut(200).empty();
                var scorefather = $('<div style="text-align:center" id="scorefather">');
               var score = $('<h2>', { id: 'question1' });
               var numCorrect = 0;
               var numberOfOpenQuestion = 0;

               //write data format which u want to save in database in correct
               //order
              //here that all
               //ok. listen.where is the post request calling to...Save data.show me that


               //ok here
               for (var i = 0; i < selections.length; i++) {
                  // ajax do here
                   //why not put here?
                   var questionId = dataVM.questions[i].id;
                   //console.log('questionId',questionId);
                   var quizId = dataVM.questions[i].quizId;
                   //console.log('quizId',quizId);
                   var userId = dataVM.questions[i].userId;
                  // console.log('userId',userId);
                   var getAnswerFromselections = selections[i];
                   var questionType = dataVM.questions[i].multiplechoice;
                   //console.log('questionType', questionType);


                   //if it is multiple choice will do solution 1
                   if (dataVM.questions[i].multiplechoice) {
                       //var getAnswerFromselections = selections[i];
                       var Iscorrect = (getAnswerFromselections == dataVM.questions[i].correctAnswer);
                       console.log('Iscorrect', Iscorrect);
                       console.log('gia tri cua getAnswerFromselections', getAnswerFromselections);
                       if (Iscorrect) {
                           numCorrect++;
                       }
                       // post multiplechoice data to server
                       var data = {
                           questionId: questionId,
                           quizId: quizId,
                           userId: userId,
                           Iscorrect: Iscorrect,
                           questionType: questionType,

                       }
                       //post(data, i);

                   }
                   //if it is open question then do solution 2
                   else {
                       numberOfOpenQuestion++;

                       var data = {
                           questionId: questionId,
                           quizId: quizId,
                           userId: userId,
                           feedBack: getAnswerFromselections,

                           questionType: questionType,

                       }
                       //console.log('gia tri cua data.feedBack', data.feedBack);
                       //$('#console.log').text(data.feedBack);
                       //post(data, i);
                   }




                   //u said that its working perfect.
                   //why not coming in the savedata function then?
                   // this afternoon i write ajax function outside and call here
                   //is that different ?
                   //yes do itlike that
                   //is this url correct??
                   //converting it into json and then saving in quiz variable??

                   //only count score for multiple choice question
                   if (questionslenght != numberOfOpenQuestion) {

                       var point = numCorrect * 100 / (questionslenght - numberOfOpenQuestion);
                   }
                   else {
                       var point = "Result : Not available";

                   }
                   

                }
                //score.append('You get ' + point.toFixed(2) + ' point(s). You have ' + numCorrect + ' correct answer(s) in total ' +
                //    (questionslenght - numberOfOpenQuestion) + ' question(s). We will review your testing result');
                if (point != "Result : Not available") {
                    
                    if (targetScore != null) {
                        if (point >= targetScore) {
                            score.addClass('text-success');

                        }
                        else {
                            score.addClass(' text-danger');

                        }
                        score.append('Your score : ' + point.toFixed(2));
                    }
                    else {

                        point = "Result : Not available";
                        score.append(point);
                    }
                    if (dataVM.quizsetting.showResult) {

                        ShowResultButton();
                    }
                    
                }
                else {
                    score.append(point);
                    score.addClass(' text-danger');

                }
                
                scorefather.append(score);

                return scorefather;
           }

           function post(data,i) {
               $.ajax({
                   type: "POST",
                   url: '/Quiz/SaveData',
                   data: { quiz: JSON.stringify(data) },
                   dataType: "json",
                   success: function (response) {
                       if (response.status) {
                           console.log("send answer back successful", i);
                       }
                       else {
                           console.log("fail to send data back to server", i);
                       }
                   },

               });

            }
            //------Countdowntimer-----------------------------------------------------------------

            //------Show result button ------------------------------
            function ShowResultButton() {
                $('#showresultbutton').removeAttr('hidden');
                $('#showresultbutton').addClass('animated  bounce ');
            }

            //------Show result function------------------------------
            function ShowResultFunction() {
                console.log('ham showresult function bat dau excute');
                var result = $('<div id="result">');

                var n = 0;
                for (var i = 0; i < questionslenght; i++) {

                    if (dataVM.questions[i].multiplechoice) {
                        //console.log('lot vao cho tao question roi ne. ahihi');
                        var questiontext = $('<div id="questiontext">');
                        var choiceindex = selections[i];
                        var questionnumber = n + 1;
                        //var number = '< h2 class="alert-success" style = "  width:80px; border: 1px solid #bdbdbd;  border-radius: 4px; ;margin-top:50px ; margin-left:0px ; " > Q ' + (n + 1) + ':</h2 >';
                        var text = '<h4>' + 'Question ' + questionnumber + ' : ' + dataVM.questions[i].questiontext + '<\h4>';
                        n++;
                        //$('#questiontext').append(number);
                        $(questiontext).append(text);
                        var answerslength = dataVM.questions[i].answers.length;

                        //-------------------
                        var divcardresult = $('<div class="card col-sm-5 mx-auto  mt-3">');
                        var divcardbodyresult = $('<div class="card-body">');
                        
                        for (var j = 0; j < answerslength; j++) {
                            console.log('lot vao cho tao answer roi ne. ahihi');
                            var presult = $('<p class="card-text">');
                            if (dataVM.questions[i].answers[j] != null) {
                                //if (j == choiceindex && j == questions[i].correct.index) {
                                //    var answer = '<li class="alert-success">' + questions[i].answers[j] + '</li>';
                                //    $(questiontext).append(answer);
                                //}
                                if (dataVM.questions[i].answers[j].letter == dataVM.questions[i].correctAnswer) {
                                    if (dataVM.questions[i].answers[j].answer != null) {
                                        presult.append(dataVM.questions[i].answers[j].answer);
                                       
                                    }
                                    else {
                                        presult.append("Option " + dataVM.questions[i].answers[j].letter);
                                        
                                        
                                    }

                                    presult.addClass(" text-success");
                                    $(divcardbodyresult).append(presult);
                                }
                                else if (dataVM.questions[i].answers[j].letter == choiceindex) {
                                    if (dataVM.questions[i].answers[j].answer != null) {
                                        
                                        presult.append(dataVM.questions[i].answers[j].answer);
                                        
                                    }
                                    else {

                                        presult.append("Option " + dataVM.questions[i].answers[j].letter);
                                       
                                    }
                                    //var answer = '<label style="margin-left:10px" class=" alert-danger" role="alert">' + dataVM.questions[i].answers[j].answer + '</label>';
                                    presult.addClass("text-danger");
                                    $(divcardbodyresult).append(presult);
                                }
                                else {
                                    if (dataVM.questions[i].answers[j].answer != null) {
                                        presult.append(dataVM.questions[i].answers[j].answer);
                                       
                                    }
                                    else {
                                        presult.append("Option " + dataVM.questions[i].answers[j].letter);
                                        
                                    }



                                    $(divcardbodyresult).append(presult);
                                }

                            }
                        }
                    }

                    divcardresult.append(divcardbodyresult);
                   
                    questiontext.append(divcardresult);
                    $(result).append(questiontext);
                }
                
                return result;
                //console.log('return duoc result ne');
            }
            //--convert second to minute:second------------------------------------------------------------------
            function ConvertSecondsToMinuteSecond(seconds) {
                var min = Math.floor(seconds / 60);
                var sec = seconds % 60;
                return min + ':' + sec;
            }
            //---resettimer function work with countdown function-------------------
            function resettimer() {
                $(timer).text(ConvertSecondsToMinuteSecond(timeleft - counter));

            }
            function countdown() {
                console.log('countdown dang chay ne anh Peter')
                if (counter == timeleft) {
                    
                    //doc cau tra loi
                    readuserchoice();
                    if (selections[questionCounter] === null) {
                        //tang index ~ questioncounter len
                        //if () {


                        //}
                        questionCounter++;
                        //tu dong set value cho cau tra loi vi chua co cau tra loi
                        selections[questionCounter] = 'timeisup';
                        displayNext();
                        resettimer();
                        counter = 0;
                        
                    }
                    else {
                        questionCounter++;
                        displayNext();
                        resettimer();
                        counter = 0;
                        
                    }
                }
                else {
                    counter++;
                    //if ((timeleft - counter) <= 5) {

                    //    timer.addClass("text-danger border border-danger");
                    //    timer.text(ConvertSecondsToMinuteSecond(timeleft - counter));
                    //}
                    //else {
                    //}
                     $(timer).text(ConvertSecondsToMinuteSecond(timeleft - counter));
                   
                    
                }

            }

            //------------------------------------------------------
            function post1(data) {
                $.ajax({
                    type: "POST",
                    url: '/Quiz/SaveData1',
                    data: { data: JSON.stringify(data) },
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            console.log("send answer back successful");
                        }
                        else {
                            console.log("fail to send data back to server");
                        }
                    },

                });

            }




       })();
    </script>
}
