﻿
@model IEnumerable<qa8.Models.Quiz>
@{
    ViewData["Title"] = "Q&A System";
}
<h2 style="text-align:center" class="text-success">Please take your training test !</h2>
<form asp-action="SelectQuiz" method="get">
    <div class="form-actions no-color">
        <p style="text-align:right">
            Find by quiz code: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <button type="submit" value="Search" class="fa fa-search btn btn-lg btn-outline-primary  "></button> |
            <a class="btn btn-lg btn-outline-primary  " asp-action="SelectQuiz">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table table-hover ">
    <thead>
        <tr>
            <th>
                <a asp-action="SelectQuiz" asp-route-sortOrder="@ViewData["DateSortParm"]">ID</a>
            </th>
            <th>
                @*<a asp-action="SelectQuiz" asp-route-sortOrder="@ViewData["NameSortParm"]">Quiz</a>*@
                @Html.DisplayNameFor(model => model.text)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.targetScore)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.deadLine)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.authorId)
                    Deadline
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.text)

                </td>
                @*<td>
                            @Html.DisplayFor(modelItem => item.deadLine)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.targetScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.deadLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.authorId)
                    </td>*@
                <td >
                    <form asp-action="SelectQuiz" method="post">
                        <button  class="btn btn-outline-primary animated rubberBand " type="submit" asp-route-id="@item.id">Select (Làm bài)</button>
                    </form>
                    @*<a class="btn btn-success" href="~/Index.html">Test</a>*@
                </td>
                @*<td>
                        <a class="btn btn-success glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.QuizId"></a> |
                        <a class="btn btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.QuizId"></a> |
                        <a class="btn btn-success glyphicon glyphicon-eye-open" asp-action="Details" asp-route-id="@item.QuizId"></a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>


@section Scripts {



    <script type="text/javascript">

        $(document).ready(function () {

            $(function () {
               
            });

        });

    </script>

}
