﻿@model qa8.Models.Participant

@{
    ViewData["Title"] = "Q&A System";
}


<h2 class="alert-success" style="text-align:center">Add new participant</h2>
<hr />


<div class="container" style="max-width:600px;padding:40px 20px;background:#ebeff2">
    <form class="form-horizontal" role="form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">Test name</label>
            <div class="form-group col-sm-8">
                <input disabled class="form-control" value="@ViewBag.text" />
            </div>
            <input asp-for="quizId" value="@ViewBag.quizId" class="form-control" type="hidden" />

        </div>
        <div class="form-group row">
            <label asp-for="userId" class="col-form-label col-sm-3"></label>
            <div class="form-group col-sm-8">
                <input asp-for="userId" class="form-control " />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
        </div>
        <div class=" col-sm-offset-2 col-sm-8">
            <button type="submit" value="Create" class="btn btn-outline-primary ">Save</button>
            <a class="btn btn-outline-warning " asp-controller="Quiz" asp-action="ParticipantsList" asp-route-id="@ViewBag.quizId">Cancel</a>
        </div>
    </form>
</div>
<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
