﻿@model qa8.Models.Participant

@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="alert-danger" style="text-align:center">Remove this participant</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quiz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quiz.id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a class="btn btn-outline-warning" asp-controller="Quiz" asp-action="ParticipantsList" asp-route-id="@ViewBag.quizId">Cancel</a>    </form>
</div>
