﻿@model qa8.Models.Participant

@{
    ViewData["Title"] = "Q&A System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert-success" style="text-align:center">Create your question</h2>
<hr />
<div class="container" style="max-width:600px;padding:40px 20px;background:#ebeff2">
    <form class="form-horizontal" role="form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="quizId" class="control-label col-xs-3"></label>
            <div class="form-group col-xs-8">
                <input asp-for="quizId" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label asp-for="userId" class="control-label col-xs-3"></label>
            <div class="form-group col-xs-8">
                <input asp-for="userId" class="form-control " />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
        </div>
        <div class=" col-sm-offset-2 col-sm-8">
            <button type="submit" value="Create" class="btn btn-success glyphicon glyphicon-floppy-disk"></button>
        </div>
    </form>
</div>

<div>
    <a asp-controller="Quiz" asp-action="ParticipantsList" asp-route-id="@ViewBag.quizId">Back to List</a></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
