﻿@{
    ViewData["Title"] = "Q&A System";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Support:</strong> <a href="Peter.tran@shc.ssbshoes.com">Peter.tran@shc.ssbshoes.com</a><br />
    
</address>
